In [2]:
import os
import re
import pandas as pd

# Path to the folder containing prices CSVs
folder_path = "round-1-island-data-bottle"

# Dictionary to collect product-wise data
product_data = {}

# Loop through only price CSVs
for filename in sorted(os.listdir(folder_path)):
    if filename.startswith("prices_") and filename.endswith(".csv"):
        file_path = os.path.join(folder_path, filename)

        # Read CSV with semicolon separator
        df = pd.read_csv(file_path, sep=";")

        # Extract day number from the filename
        match = re.search(r'day_(-?\d+)', filename)
        if match:
            day = int(match.group(1))
            df['day'] = day

            # Group rows by product
            for product in df['product'].unique():
                product_df = df[df['product'] == product]
                if product not in product_data:
                    product_data[product] = [product_df]
                else:
                    product_data[product].append(product_df)

# Combine and sort each product's full history
product_dataframes = {}
for product, dfs in product_data.items():
    combined_df = pd.concat(dfs, ignore_index=True)
    sorted_df = combined_df.sort_values(by=['day', 'timestamp']).reset_index(drop=True)
    product_dataframes[product] = sorted_df

# âœ… Example: print first few rows for each product
for product, df in product_dataframes.items():
    print(f"\nðŸ“¦ Product: {product}")
    display(df.head(30))

ðŸ“¦ Product: SQUID_INK

,day,timestamp,product,bid_price_1,bid_volume_1,bid_price_2,bid_volume_2,bid_price_3,bid_volume_3,ask_price_1,ask_volume_1,ask_price_2,ask_volume_2,ask_price_3,ask_volume_3,mid_price,profit_and_loss
0,-2,0,SQUID_INK,1998,26,NaN,NaN,NaN,NaN,2002,26,NaN,NaN,NaN,NaN,2000.0,0.0
1,-2,100,SQUID_INK,1999,5,1998.0,26.0,NaN,NaN,2001,20,NaN,NaN,NaN,NaN,2000.0,0.0
2,-2,200,SQUID_INK,1997,31,NaN,NaN,NaN,NaN,2000,1,2001.0,30.0,NaN,NaN,1998.5,0.0
3,-2,300,SQUID_INK,1997,27,NaN,NaN,NaN,NaN,2000,27,NaN,NaN,NaN,NaN,1998.5,0.0
4,-2,400,SQUID_INK,1996,20,NaN,NaN,NaN,NaN,2000,20,NaN,NaN,NaN,NaN,1998.0,0.0
5,-2,500,SQUID_INK,1999,1,1997.0,30.0,NaN,NaN,2000,30,NaN,NaN,NaN,NaN,1999.5,0.0
6,-2,600,SQUID_INK,1997,30,NaN,NaN,NaN,NaN,2001,30,NaN,NaN,NaN,NaN,1999.0,0.0
7,-2,700,SQUID_INK,1999,28,NaN,NaN,NaN,NaN,2002,28,NaN,NaN,NaN,NaN,2000.5,0.0
8,-2,800,SQUID_INK,2002,1,1999.0,23.0,NaN,NaN,2003,23,NaN,NaN,NaN,NaN,2002.5,0.0
9,-2,900,SQUID_INK,1999,2,1998.0,30.0,NaN,NaN,2001,30,NaN,NaN,NaN,NaN,2000.0,0.0
10,-2,1000,SQUID_INK,1999,24,NaN,NaN,NaN,NaN,2001,8,2002.0,24.0,NaN,NaN,2000.0,0.0
11,-2,1100,SQUID_INK,1999,25,NaN,NaN,NaN,NaN,2001,3,2002.0,26.0,NaN,NaN,2000.0,0.0
12,-2,1200,SQUID_INK,1998,28,NaN,NaN,NaN,NaN,2002,28,NaN,NaN,NaN,NaN,2000.0,0.0
13,-2,1300,SQUID_INK,1999,3,1998.0,23.0,NaN,NaN,2001,23,NaN,NaN,NaN,NaN,2000.0,0.0
14,-2,1400,SQUID_INK,1996,26,NaN,NaN,NaN,NaN,1998,2,2000.0,26.0,NaN,NaN,1997.0,0.0
15,-2,1500,SQUID_INK,1997,2,1996.0,25.0,NaN,NaN,2000,27,NaN,NaN,NaN,NaN,1998.5,0.0
16,-2,1600,SQUID_INK,1997,24,NaN,NaN,NaN,NaN,2001,24,NaN,NaN,NaN,NaN,1999.0,0.0
17,-2,1700,SQUID_INK,1998,28,NaN,NaN,NaN,NaN,2000,2,2001.0,28.0,NaN,NaN,1999.0,0.0
18,-2,1800,SQUID_INK,1997,24,NaN,NaN,NaN,NaN,1999,1,2001.0,24.0,NaN,NaN,1998.0,0.0
19,-2,1900,SQUID_INK,2001,1,1999.0,26.0,NaN,NaN,2002,26,NaN,NaN,NaN,NaN,2001.5,0.0
20,-2,2000,SQUID_INK,1999,31,NaN,NaN,NaN,NaN,2001,2,2002.0,31.0,NaN,NaN,2000.0,0.0
21,-2,2100,SQUID_INK,2001,4,1999.0,22.0,NaN,NaN,2002,22,NaN,NaN,NaN,NaN,2001.5,0.0
22,-2,2200,SQUID_INK,1999,26,NaN,NaN,NaN,NaN,2002,26,NaN,NaN,NaN,NaN,2000.5,0.0
23,-2,2300,SQUID_INK,1998,30,NaN,NaN,NaN,NaN,2001,30,NaN,NaN,NaN,NaN,1999.5,0.0
24,-2,2400,SQUID_INK,1999,30,NaN,NaN,NaN,NaN,2002,30,NaN,NaN,NaN,NaN,2000.5,0.0
25,-2,2500,SQUID_INK,1999,21,NaN,NaN,NaN,NaN,2003,21,NaN,NaN,NaN,NaN,2001.0,0.0
26,-2,2600,SQUID_INK,2000,28,NaN,NaN,NaN,NaN,2003,22,NaN,NaN,NaN,NaN,2001.5,0.0
27,-2,2700,SQUID_INK,2000,27,NaN,NaN,NaN,NaN,2002,4,2003.0,27.0,NaN,NaN,2001.0,0.0
28,-2,2800,SQUID_INK,2000,28,NaN,NaN,NaN,NaN,2003,28,NaN,NaN,NaN,NaN,2001.5,0.0
29,-2,2900,SQUID_INK,2001,30,NaN,NaN,NaN,NaN,2004,30,NaN,NaN,NaN,NaN,2002.5,0.0

ðŸ“¦ Product: RAINFOREST_RESIN

,day,timestamp,product,bid_price_1,bid_volume_1,bid_price_2,bid_volume_2,bid_price_3,bid_volume_3,ask_price_1,ask_volume_1,ask_price_2,ask_volume_2,ask_price_3,ask_volume_3,mid_price,profit_and_loss
0,-2,0,RAINFOREST_RESIN,9996,1,9995.0,25.0,NaN,NaN,10004,1,10005.0,25.0,NaN,NaN,10000.0,0.0
1,-2,100,RAINFOREST_RESIN,10000,5,9995.0,20.0,NaN,NaN,10005,20,NaN,NaN,NaN,NaN,10002.5,0.0
2,-2,200,RAINFOREST_RESIN,9996,1,9995.0,30.0,NaN,NaN,10004,1,10005.0,30.0,NaN,NaN,10000.0,0.0
3,-2,300,RAINFOREST_RESIN,9996,1,9995.0,26.0,NaN,NaN,10004,1,10005.0,26.0,NaN,NaN,10000.0,0.0
4,-2,400,RAINFOREST_RESIN,9995,20,NaN,NaN,NaN,NaN,9998,3,10002.0,9.0,10005.0,20.0,9996.5,0.0
5,-2,500,RAINFOREST_RESIN,9995,30,NaN,NaN,NaN,NaN,10005,30,NaN,NaN,NaN,NaN,10000.0,0.0
6,-2,600,RAINFOREST_RESIN,9995,30,NaN,NaN,NaN,NaN,10005,30,NaN,NaN,NaN,NaN,10000.0,0.0
7,-2,700,RAINFOREST_RESIN,9998,5,9996.0,1.0,9995.0,27.0,10004,1,10005.0,27.0,NaN,NaN,10001.0,0.0
8,-2,800,RAINFOREST_RESIN,9996,2,9995.0,21.0,NaN,NaN,10004,2,10005.0,21.0,NaN,NaN,10000.0,0.0
9,-2,900,RAINFOREST_RESIN,9995,30,NaN,NaN,NaN,NaN,10005,30,NaN,NaN,NaN,NaN,10000.0,0.0
10,-2,1000,RAINFOREST_RESIN,10002,1,9996.0,2.0,9995.0,22.0,10004,2,10005.0,22.0,NaN,NaN,10003.0,0.0
11,-2,1100,RAINFOREST_RESIN,9998,3,9996.0,1.0,9995.0,25.0,10004,1,10005.0,25.0,NaN,NaN,10001.0,0.0
12,-2,1200,RAINFOREST_RESIN,9998,6,9996.0,1.0,9995.0,27.0,10004,1,10005.0,27.0,NaN,NaN,10001.0,0.0
13,-2,1300,RAINFOREST_RESIN,10000,3,9995.0,23.0,NaN,NaN,10005,23,NaN,NaN,NaN,NaN,10002.5,0.0
14,-2,1400,RAINFOREST_RESIN,9995,26,NaN,NaN,NaN,NaN,9998,3,10005.0,26.0,NaN,NaN,9996.5,0.0
15,-2,1500,RAINFOREST_RESIN,9996,2,9995.0,25.0,NaN,NaN,10004,2,10005.0,25.0,NaN,NaN,10000.0,0.0
16,-2,1600,RAINFOREST_RESIN,9996,1,9995.0,23.0,NaN,NaN,10004,1,10005.0,23.0,NaN,NaN,10000.0,0.0
17,-2,1700,RAINFOREST_RESIN,9995,28,NaN,NaN,NaN,NaN,10002,6,10005.0,28.0,NaN,NaN,9998.5,0.0
18,-2,1800,RAINFOREST_RESIN,9998,10,9995.0,24.0,NaN,NaN,10005,24,NaN,NaN,NaN,NaN,10001.5,0.0
19,-2,1900,RAINFOREST_RESIN,9996,1,9995.0,25.0,NaN,NaN,10004,1,10005.0,25.0,NaN,NaN,10000.0,0.0
20,-2,2000,RAINFOREST_RESIN,9996,1,9995.0,30.0,NaN,NaN,10004,1,10005.0,30.0,NaN,NaN,10000.0,0.0
21,-2,2100,RAINFOREST_RESIN,9996,2,9995.0,20.0,NaN,NaN,10004,2,10005.0,20.0,NaN,NaN,10000.0,0.0
22,-2,2200,RAINFOREST_RESIN,10002,1,9996.0,1.0,9995.0,25.0,10004,1,10005.0,25.0,NaN,NaN,10003.0,0.0
23,-2,2300,RAINFOREST_RESIN,9996,2,9995.0,28.0,NaN,NaN,10004,2,10005.0,28.0,NaN,NaN,10000.0,0.0
24,-2,2400,RAINFOREST_RESIN,9995,30,NaN,NaN,NaN,NaN,10005,30,NaN,NaN,NaN,NaN,10000.0,0.0
25,-2,2500,RAINFOREST_RESIN,9995,21,NaN,NaN,NaN,NaN,9998,1,10005.0,21.0,NaN,NaN,9996.5,0.0
26,-2,2600,RAINFOREST_RESIN,9996,1,9995.0,21.0,NaN,NaN,10004,1,10005.0,21.0,NaN,NaN,10000.0,0.0
27,-2,2700,RAINFOREST_RESIN,9996,1,9995.0,26.0,NaN,NaN,10002,8,10004.0,1.0,10005.0,26.0,9999.0,0.0
28,-2,2800,RAINFOREST_RESIN,9995,28,NaN,NaN,NaN,NaN,10005,28,NaN,NaN,NaN,NaN,10000.0,0.0
29,-2,2900,RAINFOREST_RESIN,9995,30,NaN,NaN,NaN,NaN,10005,30,NaN,NaN,NaN,NaN,10000.0,0.0

ðŸ“¦ Product: KELP

,day,timestamp,product,bid_price_1,bid_volume_1,bid_price_2,bid_volume_2,bid_price_3,bid_volume_3,ask_price_1,ask_volume_1,ask_price_2,ask_volume_2,ask_price_3,ask_volume_3,mid_price,profit_and_loss
0,-2,0,KELP,1998,26,NaN,NaN,NaN,NaN,2002,26,NaN,NaN,NaN,NaN,2000.0,0.0
1,-2,100,KELP,2000,5,1999.0,6.0,1998.0,20.0,2002,20,NaN,NaN,NaN,NaN,2001.0,0.0
2,-2,200,KELP,1999,1,1998.0,30.0,NaN,NaN,2002,31,NaN,NaN,NaN,NaN,2000.5,0.0
3,-2,300,KELP,1999,27,NaN,NaN,NaN,NaN,2002,27,NaN,NaN,NaN,NaN,2000.5,0.0
4,-2,400,KELP,1999,20,NaN,NaN,NaN,NaN,2002,20,NaN,NaN,NaN,NaN,2000.5,0.0
5,-2,500,KELP,2001,1,1999.0,30.0,NaN,NaN,2002,30,NaN,NaN,NaN,NaN,2001.5,0.0
6,-2,600,KELP,1999,30,NaN,NaN,NaN,NaN,2002,30,NaN,NaN,NaN,NaN,2000.5,0.0
7,-2,700,KELP,1999,28,NaN,NaN,NaN,NaN,2002,28,NaN,NaN,NaN,NaN,2000.5,0.0
8,-2,800,KELP,2001,1,1999.0,23.0,NaN,NaN,2002,23,NaN,NaN,NaN,NaN,2001.5,0.0
9,-2,900,KELP,2000,2,1999.0,30.0,NaN,NaN,2002,30,NaN,NaN,NaN,NaN,2001.0,0.0
10,-2,1000,KELP,1999,24,NaN,NaN,NaN,NaN,2001,8,2002.0,24.0,NaN,NaN,2000.0,0.0
11,-2,1100,KELP,1999,25,NaN,NaN,NaN,NaN,2001,3,2002.0,26.0,NaN,NaN,2000.0,0.0
12,-2,1200,KELP,1999,28,NaN,NaN,NaN,NaN,2002,28,NaN,NaN,NaN,NaN,2000.5,0.0
13,-2,1300,KELP,2000,3,1999.0,23.0,NaN,NaN,2002,23,NaN,NaN,NaN,NaN,2001.0,0.0
14,-2,1400,KELP,1999,26,NaN,NaN,NaN,NaN,2001,2,2002.0,26.0,NaN,NaN,2000.0,0.0
15,-2,1500,KELP,1999,27,NaN,NaN,NaN,NaN,2002,27,NaN,NaN,NaN,NaN,2000.5,0.0
16,-2,1600,KELP,1999,24,NaN,NaN,NaN,NaN,2002,24,NaN,NaN,NaN,NaN,2000.5,0.0
17,-2,1700,KELP,1999,28,NaN,NaN,NaN,NaN,2001,2,2002.0,28.0,NaN,NaN,2000.0,0.0
18,-2,1800,KELP,1999,24,NaN,NaN,NaN,NaN,2001,1,2002.0,24.0,NaN,NaN,2000.0,0.0
19,-2,1900,KELP,2001,1,1999.0,26.0,NaN,NaN,2002,26,NaN,NaN,NaN,NaN,2001.5,0.0
20,-2,2000,KELP,1999,31,NaN,NaN,NaN,NaN,2001,2,2002.0,31.0,NaN,NaN,2000.0,0.0
21,-2,2100,KELP,2000,4,1999.0,22.0,NaN,NaN,2002,22,NaN,NaN,NaN,NaN,2001.0,0.0
22,-2,2200,KELP,1999,26,NaN,NaN,NaN,NaN,2002,26,NaN,NaN,NaN,NaN,2000.5,0.0
23,-2,2300,KELP,1999,30,NaN,NaN,NaN,NaN,2002,30,NaN,NaN,NaN,NaN,2000.5,0.0
24,-2,2400,KELP,1999,30,NaN,NaN,NaN,NaN,2002,30,NaN,NaN,NaN,NaN,2000.5,0.0
25,-2,2500,KELP,1999,21,NaN,NaN,NaN,NaN,2002,21,NaN,NaN,NaN,NaN,2000.5,0.0
26,-2,2600,KELP,1999,6,1998.0,22.0,NaN,NaN,2002,22,NaN,NaN,NaN,NaN,2000.5,0.0
27,-2,2700,KELP,1998,27,NaN,NaN,NaN,NaN,2000,4,2002.0,27.0,NaN,NaN,1999.0,0.0
28,-2,2800,KELP,1998,28,NaN,NaN,NaN,NaN,2002,28,NaN,NaN,NaN,NaN,2000.0,0.0
29,-2,2900,KELP,1998,30,NaN,NaN,NaN,NaN,2002,30,NaN,NaN,NaN,NaN,2000.0,0.0